<h1>Eldest director</h1>

<p> The eldest director in our dataset right now is <a href="/directors/<%=Director.order(:dob).at(0).id%>"><%=@oldest_director_name%></a>, born on <%=Director.order(:dob).at(0).dob.strftime('%b %d, %Y')%>. </p>
